.slider-container {
  overflow: hidden;
  width: 100%;
  position: relative;
}

.slider {
  display: flex;
  width: max-content;
}

.slider img {
  width: 250px; /* Adjust the size of the images as needed */
  height: auto;
  margin: 20px 10px; /* Adjust spacing between images as needed */
  transition: transform 0.3s ease; /* Smooth transition for hover effect */
}

.slider img:hover {
  transform: scale(1.1); /* Increase the size on hover */
}

@keyframes slide-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%); /* Adjust this value based on the width of the image and the number of images */
  }
}

@keyframes slide-right {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0); /* Adjust this value based on the width of the image and the number of images */
  }
}

.slider-left {
  animation: slide-left 20s linear infinite;
}

.slider-right {
  animation: slide-right 20s linear infinite;
}
